// this file should contains only colors variables, but here some related paths
// variables declarations

$IMG_PATH: 'images';
$ICON_PATH: '#{$IMG_PATH}/icones-afafb1';
$LANG_PATH: '#{$IMG_PATH}/langs';
$AJAX-LOADER-PATH: '#{$IMG_PATH}/darky-ajax-loader.gif';
$MARKITUP_IMG_PATH: '#{$IMG_PATH}/markitup-dark';


// Palette colors, must be used only in this file as facility
$C_GRAY_BASE:    #000;
$C_GRAY_DARKER:  #121212;
$C_GRAY_DARK:    #666;
$C_GRAY:         #999;
$C_GRAY_LIGHT:   #ababab;
$C_GRAY_LIGHTER: #ccc;
$C_GRAY_WHITE:   #fff;


$C_PRIMARY: #221811;
$C_ACTION: #978778;
$C_NEUTRAL: #a6784a;
$C_MAIN_BG: #2d2d2d;
$C_BANDEAU: #9faab2;
$C_TOPBAR: #ff9252;
$C_CONTAINER: #1a0000;
$C_MENU: #66d9ef;
$C_FOOT: #302d2c;
$C_MID_FOOT: #181716;

$C_SUCCESS: lime;
$C_DANGER: red;

$C_BD1: transparentize($C_BANDEAU, 0.84);
$C_BD2: transparentize($C_BANDEAU, 0.67);
$C_BD3: transparentize($C_BANDEAU, 0.50);
$C_BD4: transparentize($C_BANDEAU, 0.33);
$C_BD5: transparentize($C_BANDEAU, 0.17);

$HIGHLIGHT-COLOR: #74e26f;

// $TXT-COLOR: $C_GRAY_WHITE; 
$TXT-COLOR:#f2f2f2;
$TXT-NEUTRAL-COLOR: $C_NEUTRAL;
$TXT-HIGHLIGHT-COLOR: $HIGHLIGHT-COLOR;
$TXT-ACTION-COLOR: $C_ACTION;
$TXT-TOTOZ-COLOR: #2EA4FF;

$BLOCK-BG-COLOR: #2c221e;
$CONTAINER-BG-COLOR: $C_CONTAINER;

$STD-LINK-COLOR: #66b7ff;

$STD-LINK-HOVER-COLOR: #9138ff; 

$ANCHOR-TXT-COLOR:#545454;
$ANCHOR-OVER-TXT-COLOR:$C_GRAY_LIGHTER;

$SIGNATURE-TXT-COLOR: $C_GRAY_DARK;

$ALERT-BG-COLOR: #faa;
$ALERT-BORDER-COLOR: $C_DANGER;// red;

$HTML-BG-COLOR: $C_MAIN_BG;
$HTML-TOP-BG-COLOR: $C_GRAY_BASE;
$HTML-BOTTOM-BG-COLOR: $HTML-BG-COLOR;

$BODY-BORDER-COLOR: $C_GRAY_DARK;
$BODY-BG-COLOR: $C_GRAY_BASE;
$BODY-GRD-COLOR-0: $C_PRIMARY;
$BODY-GRD-COLOR-1: $C_CONTAINER;

$SIDEBAR-BG-COLOR: $C_PRIMARY;

$BANDEAU-BG-COLOR: $C_BANDEAU;
$TOPBAR-BG-COLOR: $C_TOPBAR;

$STD-BORDER-COLOR: $C_NEUTRAL;

$STD-TH-BG-COLOR: $C_PRIMARY;

$BTN-TXT-COLOR:$TXT-COLOR;
$BTN-BG-COLOR: $C_PRIMARY;
$BTN-BORDER-COLOR: $C_NEUTRAL;
$BTN-LIGHT-HOVER-BG-COLOR: $C_NEUTRAL;
$BTN-HOVER-BG-COLOR: $C_ACTION;
$BTN-HOVER-BORDER-COLOR: $C_ACTION;

$LABEL-TXT-COLOR: $C_GRAY_BASE;
$LABEL-BG-COLOR: #d78538;
$LABEL-SCORE-TXT-COLOR: $C_GRAY_BASE;
$LABEL-DATE-TXT-COLOR: $C_GRAY_WHITE;
$LABEL-SCORE-BG-COLOR:#f97e58;
$LABEL-DATE-BG-COLOR: #640000;
$MAINMENU-TXT-COLOR: $C_MENU;
$MAINMENU-BG-COLOR: #564c43;
$MAINMENU-GRD-COLOR-0: $C_GRAY_BASE;
$MAINMENU-GRD-COLOR-1: #201c18;
$MAINMENU-GRD-COLOR-2: #564c43;

$MAINMENU-SEARCHINPUT-BG-COLOR: $C_PRIMARY;
$MAINMENU-SEARCHINPUT-TXT-COLOR: $TXT-COLOR;
$MAINMENU-SEARCHINPUT-PLACEHOLDER-COLOR: $C_GRAY_LIGHT;
$MAINMENU-SEARCHINPUT-BORDER-COLOR: $C_PRIMARY;

$FOOTER-BG-COLOR: $C_FOOT;
$FOOTER-GRD-COLOR-0: $C_FOOT;
$FOOTER-GRD-COLOR-1: $C_GRAY_BASE;
$FOOTER-MID-BG-COLOR: $C_MID_FOOT;

$BANNER-SHADOW-INSET-COLOR: $C_GRAY_BASE;

$TXTBLOCK-BG-COLOR: $C_GRAY_BASE;

$TAGTOOLS-BG-COLOR: $BLOCK-BG-COLOR;

$NOTICEITEM-TXT-COLOR: $C_GRAY_DARKER;
$NOTICEITEM-BG-COLOR: $C_GRAY_LIGHTER;
$NOTICEITEM-BORDER-COLOR: $C_GRAY_DARK;

$BOARD-INPUT-BORDER-COLOR: $C_GRAY_DARK;
$BOARD-DIVCHAT-BG-COLOR: $C_GRAY_BASE;
$BOARD-DIVCHAT-BORDER-COLOR: $C_GRAY_DARK;

$BOARD-LINK-COLOR: $C_GRAY_LIGHT;
$MAINBOARD-HORLOGE-COLOR: $C_GRAY_WHITE;
$BOARD-TIME-COLOR: #75b1ff;
$BOARD-MYPOST-COLOR: #ff3333;

$WRITINGLISTING-NEWS-BORDER-COLOR: $C_GRAY_DARK;
$WRITINGLISTING-NEWS-BG-COLOR: $BLOCK-BG-COLOR;
$WRITINGLISTING-NEWS-TXT-COLOR: $TXT-COLOR;
$WRITINGLISTING-H3-COLOR: $TXT-COLOR;
$WRITINGLISTING-PEN-BG-COLOR: $C_GRAY;

$EDIT-BLOCK-BG-COLOR: $C_PRIMARY;
$EDIT-BLOCK-OVER-BG-COLOR: rgba(51, 51, 51, 0.66);

$MARKITUP-SEPARATOR-COLOR: #666;
$MARKITUP-DROPMENU-BG-COLOR: #0a0a0a;

$MINI-BG-COLOR: $C_CONTAINER;
$MINI-MAINMENU-GRD-COLOR-0: $MAINMENU-GRD-COLOR-1;
$MINI-MAINMENU-GRD-COLOR-1: $MAINMENU-GRD-COLOR-2;

$MINI-SIDEBAR-BG-COLOR: $C_GRAY_BASE;

$AC-BG-COLOR: $C_PRIMARY;
$AC-ODD-BG-COLOR: $C_GRAY_DARKER;
$AC-OVER-BG-COLOR: #94aef5;
$AC-OVER-TXT-COLOR: $C_GRAY_BASE;
$AC-BORDER-COLOR: $STD-BORDER-COLOR;

// unchanged
$OAUTH-TXT-COLOR: $C_GRAY_WHITE;
$OAUTH-OK-BG-COLOR: #48a348;
$OAUTH-OK-BORDER-COLOR: #51b351;
$OAUTH-OK-OVER-BG-COLOR: #47A447;
$OAUTH-OK-OVER-BORDER-COLOR: #398439;
$OAUTH-KO-BG-COLOR: #D9534F;
$OAUTH-KO-BORDER-COLOR: #D43F3A;
$OAUTH-KO-OVER-BG-COLOR: #D2322D;
$OAUTH-KO-OVER-BORDER-COLOR: #AC2925;

// $OAUTH-TXT-COLOR: #FFF;
// $OAUTH-OK-BG-COLOR: #5cb75c;
// $OAUTH-OK-BORDER-COLOR: #4cae4c;
// $OAUTH-OK-OVER-BG-COLOR: #5bb95b;
// $OAUTH-OK-OVER-BORDER-COLOR: #7bc67b;
// $OAUTH-KO-BG-COLOR: #b02b27;
// $OAUTH-KO-BORDER-COLOR: #c5302b;
// $OAUTH-KO-OVER-BG-COLOR: #d2322d;
// $OAUTH-KO-OVER-BORDER-COLOR: #da5752;
