// Palette colors, must be used only in this file as facility
$C_GRAY_BASE:    #000;
$C_GRAY_DARKER:  #121212;
$C_GRAY_DARK:    #666;
$C_GRAY:         #999;
$C_GRAY_LIGHT:   #ababab;
$C_GRAY_LIGHTER: #ccc;
$C_GRAY_WHITE:   #fff;


$C_PRIMARY: #1C1917;
$C_ACTION: #978778;
$C_NEUTRAL: #84786c;
$C_MAIN_BG: #1c1c1c;
$C_BANDEAU: #9faab2 !default;
$C_CONTAINER: #050505;
$C_MENU: #9faab2;
$C_FOOT: #302d2c;
$C_MID_FOOT: #181716;

$C_SUCCESS: lime;
$C_DANGER: red;

$C_BD1: transparentize($C_BANDEAU, 0.84);
$C_BD2: transparentize($C_BANDEAU, 0.67);
$C_BD3: transparentize($C_BANDEAU, 0.50);
$C_BD4: transparentize($C_BANDEAU, 0.33);
$C_BD5: transparentize($C_BANDEAU, 0.17);

$HIGHLIGHT-COLOR: $C_BANDEAU;

$TXT-COLOR: $C_GRAY_WHITE;
$TXT-NEUTRAL-COLOR: $C_NEUTRAL;
$TXT-HIGHLIGHT-COLOR: $HIGHLIGHT-COLOR;
$TXT-ACTION-COLOR: $C_ACTION;
$TXT-TOTOZ-COLOR: #2EA4FF;

$BLOCK-BG-COLOR: $C_GRAY_BASE;
$CONTAINER-BG-COLOR: $C_CONTAINER;

// $STD-LINK-COLOR: #5555ff;
// $STD-LINK-COLOR: #3c8ee0;
 $STD-LINK-COLOR: #66b7ff;
// $STD-LINK-COLOR: #00ffff;

$STD-LINK-HOVER-COLOR: #873ce4; 
// $STD-LINK-HOVER-COLOR: #c88bff;
// $STD-LINK-HOVER-COLOR: #ff00ff;

$ANCHOR-TXT-COLOR:#545454;
$ANCHOR-OVER-TXT-COLOR:$C_GRAY_LIGHTER;

$SIGNATURE-TXT-COLOR: $C_GRAY_DARK;

$ALERT-BG-COLOR: #faa;
$ALERT-BORDER-COLOR: $C_DANGER;// red;

$HTML-BG-COLOR: $C_MAIN_BG;

$BODY-BORDER-COLOR: $C_GRAY_DARK;
$BODY-BG-COLOR: $C_GRAY_BASE;
$BODY-GRD-COLOR-0: $C_PRIMARY;
$BODY-GRD-COLOR-1: $C_CONTAINER;

$SIDEBAR-BG-COLOR: $C_PRIMARY;

$BANDEAU-BG-COLOR: $C_BANDEAU;

$STD-BORDER-COLOR: $C_NEUTRAL;

$STD-TH-BG-COLOR: $C_PRIMARY;

$BTN-TXT-COLOR:$TXT-COLOR;
$BTN-BG-COLOR: $C_PRIMARY;
$BTN-BORDER-COLOR: $C_NEUTRAL;
$BTN-LIGHT-HOVER-BG-COLOR: $C_NEUTRAL;
$BTN-HOVER-BG-COLOR: $C_ACTION;
$BTN-HOVER-BORDER-COLOR: $C_ACTION;


$LABEL-TXT-COLOR: $C_GRAY_BASE;
$LABEL-BG-COLOR: $C_ACTION;
$LABEL-SCORE-TXT-COLOR: $C_GRAY_LIGHTER;
$LABEL-DATE-TXT-COLOR: $C_GRAY_BASE;
$LABEL-SCORE-BG-COLOR: $C_MAIN_BG;
$LABEL-DATE-BG-COLOR: $C_BANDEAU;
$MAINMENU-TXT-COLOR: $C_MENU;
$MAINMENU-BG-COLOR: #564c43;
$MAINMENU-GRD-COLOR-0: $C_GRAY_BASE;
$MAINMENU-GRD-COLOR-1: #201c18;
$MAINMENU-GRD-COLOR-2: #564c43;

$MAINMENU-SEARCHINPUT-BG-COLOR: $C_PRIMARY;

$FOOTER-BG-COLOR: $C_FOOT;
$FOOTER-GRD-COLOR-0: $C_FOOT;
$FOOTER-GRD-COLOR-1: $C_GRAY_BASE;
$FOOTER-MID-BG-COLOR: $C_MID_FOOT;

$BANNER-SHADOW-INSET-COLOR: $C_GRAY_BASE;

$TXTBLOCK-BG-COLOR: $C_GRAY_BASE;

$NOTICEITEM-TXT-COLOR: $C_GRAY_DARKER;
$NOTICEITEM-BG-COLOR: $C_GRAY_LIGHTER;
$NOTICEITEM-BORDER-COLOR: $C_GRAY_DARK;

$BOARD-INPUT-BORDER-COLOR: $C_GRAY_DARK;
$BOARD-DIVCHAT-BG-COLOR: $C_GRAY_BASE;
$BOARD-DIVCHAT-BORDER-COLOR: $C_GRAY_DARK;

$BOARD-LINK-COLOR: $C_GRAY_LIGHT;
$MAINBOARD-HORLOGE-COLOR: $C_GRAY_WHITE;
$BOARD-TIME-COLOR: #0f0fff;
$BOARD-MYPOST-COLOR: #ff3333;

$WRITINGLISTING-NEWS-BORDER-COLOR: $C_GRAY_DARK;
$WRITINGLISTING-NEWS-BG-COLOR: $C_GRAY_BASE;
$WRITINGLISTING-NEWS-TXT-COLOR: $C_GRAY_LIGHT;
$WRITINGLISTING-H3-COLOR: $C_GRAY_WHITE;
$WRITINGLISTING-PEN-BG-COLOR: $C_GRAY;

$EDIT-BLOCK-BG-COLOR: $C_PRIMARY;
$EDIT-BLOCK-OVER-BG-COLOR: rgba(51, 51, 51, 0.66);

$MINI-BG-COLOR: $C_GRAY_BASE;
$MINI-MAINMENU-GRD-COLOR-0: #201c18;
$MINI-MAINMENU-GRD-COLOR-1: #564c43;

$MINI-SIDEBAR-BG-COLOR: $C_GRAY_BASE;

$AC-BG-COLOR: $C_PRIMARY;
$AC-ODD-BG-COLOR: $C_GRAY_DARKER;
$AC-OVER-BG-COLOR: #94aef5;
$AC-OVER-TXT-COLOR: $C_GRAY_BASE;
$AC-BORDER-COLOR: $STD-BORDER-COLOR;

// unchanged
$OAUTH-TXT-COLOR: $C_GRAY_WHITE;
$OAUTH-OK-BG-COLOR: #48a348;
$OAUTH-OK-BORDER-COLOR: #51b351;
$OAUTH-OK-OVER-BG-COLOR: #47A447;
$OAUTH-OK-OVER-BORDER-COLOR: #398439;
$OAUTH-KO-BG-COLOR: #D9534F;
$OAUTH-KO-BORDER-COLOR: #D43F3A;
$OAUTH-KO-OVER-BG-COLOR: #D2322D;
$OAUTH-KO-OVER-BORDER-COLOR: #AC2925;

// $OAUTH-TXT-COLOR: #FFF;
// $OAUTH-OK-BG-COLOR: #5cb75c;
// $OAUTH-OK-BORDER-COLOR: #4cae4c;
// $OAUTH-OK-OVER-BG-COLOR: #5bb95b;
// $OAUTH-OK-OVER-BORDER-COLOR: #7bc67b;
// $OAUTH-KO-BG-COLOR: #b02b27;
// $OAUTH-KO-BORDER-COLOR: #c5302b;
// $OAUTH-KO-OVER-BG-COLOR: #d2322d;
// $OAUTH-KO-OVER-BORDER-COLOR: #da5752;
