/* Color constants */
// $C_CLAIR: #E9E6E4;
// $C_BANDEAU: #4C575F !default;
// $C_FONCE: #877768;
// $C_INTER: #93877B;
// $C_BAS_FOND: #E4E4E4;
// $C_FOOT: #D4D1CF;
// $C_MIBLANC_MIFOOT: #E9E8E7;
// $C_CONTAINER: #F9F9F9;
// $C_MENU: #4C575F;


// Palette colors, must be used only in this file as facility
$C_GRAY_BASE:    #000;
$C_GRAY_DARKER:  #121212;
$C_GRAY_DARK:    #666;
$C_GRAY:         #999;
$C_GRAY_LIGHT:   #ababab;
$C_GRAY_LIGHTER: #ccc;
$C_GRAY_WHITE:   #fff;


// $C_CLAIR: #E9E6E4;
// $C_PRIMARY: $C_CLAIR;
$C_PRIMARY: #1C1917;
// $C_FONCE: #877768;
// $C_ACTION: $C_FONCE;
$C_ACTION: #978778;
// $C_INTER: #93877B;
// $C_NEUTRAL: $C_INTER;
$C_NEUTRAL: #84786c;
// $C_BAS_FOND: #E4E4E4;
// $C_MAIN_BG: #E4E4E4;
$C_MAIN_BG: #1c1c1c;
// $C_BANDEAU: #4C575F !default;
$C_BANDEAU: #9faab2 !default;
// $C_CONTAINER: #F9F9F9;
$C_CONTAINER: #050505;
// $C_MENU: #4C575F;
$C_MENU: #9faab2;
// $C_FOOT: #D4D1CF;
$C_FOOT: #302d2c;
//$C_MIBLANC_MIFOOT: #E9E8E7;
// $C_MID_FOOT: #E9E8E7;
$C_MID_FOOT: #181716;

$C_SUCCESS: lime;
$C_DANGER: red;

$C_BD1: transparentize($C_BANDEAU, 0.84);
$C_BD2: transparentize($C_BANDEAU, 0.67);
$C_BD3: transparentize($C_BANDEAU, 0.50);
$C_BD4: transparentize($C_BANDEAU, 0.33);
$C_BD5: transparentize($C_BANDEAU, 0.17);

$HIGHLIGHT-COLOR: $C_BANDEAU;

// $TXT-COLOR: #000;
$TXT-COLOR: $C_GRAY_WHITE;
$TXT-NEUTRAL-COLOR: $C_NEUTRAL;
$TXT-HIGHLIGHT-COLOR: $HIGHLIGHT-COLOR;
$TXT-ACTION-COLOR: $C_ACTION;
$TXT-TOTOZ-COLOR: #2EA4FF;

$BLOCK-BG-COLOR: $C_GRAY_BASE;
$CONTAINER-BG-COLOR: $C_CONTAINER;

// $STD-LINK-COLOR: #0000ee;
$STD-LINK-COLOR: #5555ff; //#3c8ee0;
// $STD-LINK-COLOR: #66b7ff;
// $STD-LINK-COLOR: #00ffff;

// $STD-LINK-HOVER-COLOR: #551A8B;
$STD-LINK-HOVER-COLOR: #873ce4; //#c88bff;
// $STD-LINK-HOVER-COLOR: #ff00ff;

// $ANCHOR-TXT-COLOR:#aaa;
$ANCHOR-TXT-COLOR:#545454;
// $ANCHOR-OVER-TXT-COLOR:#333;
$ANCHOR-OVER-TXT-COLOR:$C_GRAY_LIGHTER;

$ALERT-BG-COLOR: #faa;
$ALERT-BORDER-COLOR: $C_DANGER;// red;

$HTML-BG-COLOR: $C_MAIN_BG;

// $BODY-BORDER-COLOR: #999;
//$BODY-BG-COLOR: #fff;
$BODY-BORDER-COLOR: $C_GRAY_DARK;
$BODY-BG-COLOR: $C_GRAY_BASE;
$BODY-GRD-COLOR-0: $C_PRIMARY;
$BODY-GRD-COLOR-1: $C_CONTAINER;

$SIDEBAR-BG-COLOR: $C_PRIMARY;

$BANDEAU-BG-COLOR: $C_BANDEAU;

$STD-BORDER-COLOR: $C_NEUTRAL;

$STD-TH-BG-COLOR: $C_PRIMARY;

// $BUTTON-TXT-COLOR: black;
// $BTN-TXT-COLOR: #fff;
// $BTN-BG-COLOR: $C_CLAIR;
// $BTN-BORDER-COLOR: $C_INTER;
// $BTN-HOVER-BG-COLOR: $C_INTER;
// $BTN-HOVER-BORDER-COLOR: $C_FONCE;
$BTN-TXT-COLOR:$TXT-COLOR;
$BTN-BG-COLOR: $C_PRIMARY;
$BTN-BORDER-COLOR: $C_NEUTRAL;
$BTN-LIGHT-HOVER-BG-COLOR: $C_NEUTRAL;
$BTN-HOVER-BG-COLOR: $C_ACTION;
$BTN-HOVER-BORDER-COLOR: $C_ACTION;


// $LABEL-TXT-COLOR: white;
$LABEL-TXT-COLOR: $C_GRAY_BASE;
$LABEL-BG-COLOR: $C_ACTION;
//$LABEL-SCORE-TXT-COLOR: #333;
$LABEL-SCORE-TXT-COLOR: $C_GRAY_LIGHTER;
// $LABEL-DATE-TXT-COLOR: white;
$LABEL-DATE-TXT-COLOR: $C_GRAY_BASE;
$LABEL-SCORE-BG-COLOR: $C_MAIN_BG;
$LABEL-DATE-BG-COLOR: $C_BANDEAU;

$MAINMENU-TXT-COLOR: $C_MENU;
// $MAINMENU-BG-COLOR: #bdb3aa;
$MAINMENU-BG-COLOR: #564c43;
// $MAINMENU-GRD-COLOR-0: #fff;
// $MAINMENU-GRD-COLOR-1: #e7e3e0;
// $MAINMENU-GRD-COLOR-2: #bdb3aa;
$MAINMENU-GRD-COLOR-0: $C_GRAY_BASE;
$MAINMENU-GRD-COLOR-1: #201c18;
$MAINMENU-GRD-COLOR-2: #564c43;

$MAINMENU-SEARCHINPUT-BG-COLOR: $C_PRIMARY;

// $FOOTER-BG-COLOR: $C_CLAIR;
$FOOTER-BG-COLOR: $C_FOOT;
// $FOOTER-GRD-COLOR-0: $C_FOOT;
// $FOOTER-GRD-COLOR-1: white;
$FOOTER-GRD-COLOR-0: $C_FOOT;
$FOOTER-GRD-COLOR-1: $C_GRAY_BASE;
$FOOTER-MID-BG-COLOR: $C_MID_FOOT;

// $BANNER-SHADOW-INSET-COLOR: #fff;
$BANNER-SHADOW-INSET-COLOR: $C_GRAY_BASE;

// $TXTBLOCK-BG-COLOR: white;
$TXTBLOCK-BG-COLOR: $C_GRAY_BASE;

// $NOTICEITEM-TXT-COLOR: #eeeeee;
$NOTICEITEM-TXT-COLOR: $C_GRAY_DARKER;
// $NOTICEITEM-BG-COLOR: #333333;
$NOTICEITEM-BG-COLOR: $C_GRAY_LIGHTER;
// $NOTICEITEM-BORDER-COLOR: #999999;
$NOTICEITEM-BORDER-COLOR: $C_GRAY_DARK;

// $BOARD-INPUT-BORDER-COLOR: #999;
$BOARD-INPUT-BORDER-COLOR: $C_GRAY_DARK;
// ??
// $BOARD-DIVCHAT-BG-COLOR: white;
// $BOARD-DIVCHAT-BORDER-COLOR: #999;
$BOARD-DIVCHAT-BG-COLOR: $C_GRAY_BASE;
$BOARD-DIVCHAT-BORDER-COLOR: $C_GRAY_DARK;

// $BOARD-LINK-COLOR: #555;
$BOARD-LINK-COLOR: $C_GRAY_LIGHT;
// $MAINBOARD-HORLOGE-COLOR: black;
$MAINBOARD-HORLOGE-COLOR: $C_GRAY_WHITE;
// $BOARD-TIME-COLOR: #0000EE;
$BOARD-TIME-COLOR: #0f0fff;
// $BOARD-MYPOST-COLOR: #CC0000;
$BOARD-MYPOST-COLOR: #ff3333;

// $WRITINGLISTING-NEWS-BORDER-COLOR: #999;
// $WRITINGLISTING-NEWS-BG-COLOR: #fff;
// $WRITINGLISTING-NEWS-TXT-COLOR: #555;
$WRITINGLISTING-NEWS-BORDER-COLOR: $C_GRAY_DARK;
$WRITINGLISTING-NEWS-BG-COLOR: $C_GRAY_BASE;
$WRITINGLISTING-NEWS-TXT-COLOR: $C_GRAY_LIGHT;
// $WRITINGLISTING-NEWS-H3-COLOR: #000;
$WRITINGLISTING-H3-COLOR: $C_GRAY_WHITE;
$WRITINGLISTING-PEN-BG-COLOR: $C_GRAY;

// $EDIT-BLOCK-BG-COLOR: $C_CLAIR;
$EDIT-BLOCK-BG-COLOR: $C_PRIMARY;
// $EDIT-BLOCK-OVER-BG-COLOR: #cccccc66;
// $EDIT-BLOCK-OVER-BG-COLOR: rgba(204, 204, 204, 0.66);
// $EDIT-BLOCK-OVER-BG-COLOR: #33333366;
$EDIT-BLOCK-OVER-BG-COLOR: rgba(51, 51, 51, 0.66);

// $MINI-BG-COLOR: #fff;
$MINI-BG-COLOR: $C_GRAY_BASE;
// $MINI-MAINMENU-GRD-COLOR-0: #e7e3e0;
// $MINI-MAINMENU-GRD-COLOR-1: #bdb3aa;
$MINI-MAINMENU-GRD-COLOR-0: #201c18;
$MINI-MAINMENU-GRD-COLOR-1: #564c43;

// $MINI-SIDEBAR-BG-COLOR: #fff;
$MINI-SIDEBAR-BG-COLOR: $C_GRAY_BASE;

$AC-BG-COLOR: $C_PRIMARY;
// $AC-ODD-BG-COLOR: #eeeeee;
$AC-ODD-BG-COLOR: $C_GRAY_DARKER;
// $AC-OVER-BG-COLOR: #0a246a;
$AC-OVER-BG-COLOR: #94aef5;
// $AC-OVER-TXT-COLOR: white;
$AC-OVER-TXT-COLOR: $C_GRAY_BASE;
$AC-BORDER-COLOR: $STD-BORDER-COLOR;


// unchanged
$OAUTH-TXT-COLOR: #FFF;
$OAUTH-OK-BG-COLOR: #48a348;
$OAUTH-OK-BORDER-COLOR: #51b351;
$OAUTH-OK-OVER-BG-COLOR: #47A447;
$OAUTH-OK-OVER-BORDER-COLOR: #398439;
$OAUTH-KO-BG-COLOR: #D9534F;
$OAUTH-KO-BORDER-COLOR: #D43F3A;
$OAUTH-KO-OVER-BG-COLOR: #D2322D;
$OAUTH-KO-OVER-BORDER-COLOR: #AC2925;

// $OAUTH-TXT-COLOR: #FFF;
// $OAUTH-OK-BG-COLOR: #5cb75c;
// $OAUTH-OK-BORDER-COLOR: #4cae4c;
// $OAUTH-OK-OVER-BG-COLOR: #5bb95b;
// $OAUTH-OK-OVER-BORDER-COLOR: #7bc67b;
// $OAUTH-KO-BG-COLOR: #b02b27;
// $OAUTH-KO-BORDER-COLOR: #c5302b;
// $OAUTH-KO-OVER-BG-COLOR: #d2322d;
// $OAUTH-KO-OVER-BORDER-COLOR: #da5752;
