// Autocomplete

.ac_loading {
  background: $C_GRAY_BASE url('#{$IMG_PATH}/darky-ajax-loader.gif') right center no-repeat;
}
.ac_results {
  background-color: $AC-BG-COLOR;
  border: solid 1px $AC-BORDER-COLOR;

  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 5px 5px 30px;
  padding: 5px;

  ul {
    margin: 0;
    padding: 5px;
    li {
      list-style: none;
      cursor: pointer;
    }
  }
}
.ac_odd {
  background-color: $AC-ODD-BG-COLOR;
}
.ac_over {
  background-color: $AC-OVER-BG-COLOR;
  color: $AC-OVER-TXT-COLOR;
}
