$OAUTH-TXT-COLOR: #FFF !default;
$OAUTH-OK-BG-COLOR: #48a348 !default;
$OAUTH-OK-BORDER-COLOR: #51b351 !default;
$OAUTH-OK-OVER-BG-COLOR: #47A447 !default;
$OAUTH-OK-OVER-BORDER-COLOR: #398439 !default;
$OAUTH-KO-BG-COLOR: #D9534F !default;
$OAUTH-KO-BORDER-COLOR: #D43F3A !default;
$OAUTH-KO-OVER-BG-COLOR: #D2322D !default;
$OAUTH-KO-OVER-BORDER-COLOR: #AC2925 !default;

body#oauth-authorize {
  #container { min-height: 416px; }
  #coFFFntainer h1 { display: block; }
  .authorize_app, .deny_app {
    width: 60%;
    margin: 30px;
    padding: 10px 16px;
    line-height: 1.33;
    font-size: 1.6em;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    color: $OAUTH-TXT-COLOR;
    background-image: none;
  }
  .authorize_app {
    margin-bottom: 0;
    background-color: $OAUTH-OK-BG-COLOR;
    border-color: $OAUTH-OK-BORDER-COLOR;
    &:focus, &:hover {
      background-color: $OAUTH-OK-OVER-BG-COLOR;
      border-color: $OAUTH-OK-OVER-BORDER-COLOR;
    }
  }
  .deny_app {
    background-color: $OAUTH-KO-BG-COLOR;
    border-color: $OAUTH-KO-BORDER-COLOR;
    &:focus, &:hover {
      background-color: $OAUTH-KO-OVER-BG-COLOR;
      border-color: $OAUTH-KO-OVER-BORDER-COLOR;
    }
  }
}
