.misspelled {
  color: inherit;
  background-color: inherit;
  border-bottom: 1px dashed $C_DANGER;
}

.anchor {
  &, &:visited {
    color: $ANCHOR-TXT-COLOR;
  }
  &:hover {
    color: $ANCHOR-OVER-TXT-COLOR;
  }
}

.factice, .go_to_content {
  float: left;
  text-indent: -9998em;
  overflow: hidden;
  text-align: left;
  width: 10px;
}

.pot_de_miel {
  display: none;
}

.signature {
  // color: #999;
  color: #666;
  font-size: 0.68em;
  &:before {
    white-space: pre-line;
    content: "-- \a";
  }
}

#edition img[alt="Titre de l'image"] {
  border: 3px dotted $C_DANGER;
}
